 <div class="modal" id="room-info">        
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Create room</h2>
            </div>
        </div>
        </div>
    </div>
    
    
    
    <div class="modal" id="room-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Create new room</h2>
                </div>
            </div>
        </div>
    
    </div>